<form action="/jobs" method="post">
    <label for="title">Add a new job!</label>
    <input id="title" name="title" type="text">
    <label for="description">Add the description!</label>
    <input id="description" name="description" type="text">
    <button type="submit">Submit</button>
</form>